.order-status{
    display: inline-flex;
    line-height: 2.5em;
    color: #777;
    background: #e5e5e5;
    border-radius: 4px;
    border-bottom: 1px solid rgba(0,0,0,.05);
    margin: -.25em 0;
    cursor: inherit!important;
    white-space: nowrap;
    max-width: 100%;
    
    padding: 0 1em;
    
    &.status__mp-processing{
        background: #c6e1c6;
        color: #5b841b;
    }
    
    &.status__mp-pending{
        background: #f8dda7;
        color: #94660c;
    }
    
    &.status__mp-completed{
        background: #c8d7e1;
        color: #2e4453;
    }
}