.grid-gallery {
  margin-left: -12px;
  margin-right: -12px;
  display: flex;
  flex-flow: wrap;
  
  .grid-item {
    width: 33.33%;
    padding: 12px;
  }

  .meal-item {
    border: 1px solid #ccc;
    padding: 10px;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 2px 4px;
    background-color: $white;
    display: flex;
    flex-flow: column;
    cursor: pointer;

    &__photo {
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      width: 100%;
      height: 216px;
    }

    &__details {
      width: 100%;
      padding: 0 0 10px;
    }

    &__title {
      //margin-bottom: 14px;
      min-height: 42px;
      margin-top: 8px;
    }

    &__content {
      height: 60px;
      margin-bottom: 10px;
      overflow: hidden;
    }

    &__price {
      p {
        margin-bottom: 1em;
      }
    }

    &__add-to-cart {
      position: relative;
      text-align: center;

      .meal-item-quantity {
        width: 100%;
        display: flex;
        justify-content: center;
        margin-bottom: 8px;

        .meal-item-quantity-minus, .meal-item-quantity-plus {
          width: 50px;
          height: 40px;
          background-color: #eee;
          text-align: center;
          padding-top: 8px;
          cursor: pointer;
          color: #333;

          &.disabled {
            cursor: default;
            opacity: .6;
            box-shadow: none;
          }
        }

        .input-quantity {
          margin: 0 2%;
          width: 60px;
          text-align: center;
          font-size: 1em;
          padding-top: .3em;
          padding-bottom: .3em;
          padding-left: 20px;

          &.has-error {
            outline: 1px solid $red;
          }
        }
      }

      .button {
        width: 80%;
        margin: 2% 0;
        padding: 13px;
      }
    }
  }
}

@media (max-width: 992px) {
  .grid-gallery {
    .grid-item {
      width: 50%;
    }
  }
}

@media screen and (max-width: 669px){
  .grid-gallery {
    .grid-item {
      width: 100%;
    }
  }
}