//color
$gray: #ccc;
$gray-6: #666;
$white: #FBFFFB;
$white-background: #F4F4F4;
$red: #EE1D1D;
$black: #000;
$dark: #2c2d33;


//color for element
$button-price-color: #1574f5;
$button-price-color_hover: #0953bd;
$table-header-color: #f8f8f8;
$input-background-color: #f2f2f2;

$xs-breakpoint: 576px;