@import url('https://fonts.googleapis.com/css?family=Cabin:400,500,600,700&display=swap');

* {
  font-family: 'Cabin', sans-serif;
  font-size: 16px;
}

h1, h2, h3, h4 {
  margin: .5em 0;
  font-weight: 700;
}

h1 {
  font-size: 2.5em;

  &:not(.site-title) {
    &::before {
      display: none;
    }
  }
}

h2 {
  font-size: 1.5em;

  &::before {
    display: none;
  }
}

h3 {
  font-size: 1.1em;
}

h4 {
  font-size: 1em;
}

p {
  font-size: 1em;
  font-weight: normal;
  color: $black;
}

button {
  font-size: 1em;
}

a:focus, a:active {
  outline: none;
}

li:focus, li:active {
  outline: none;
}

ul {
  margin-left: 0;
}

input.input {
  width: 100%;
  border: 1px solid $gray;

  &:hover, &:focus {
    outline: none;
  }

  &__quantity {
    width: 80px;
    margin: auto;
    text-align: center;
    border-radius: 15px;
  }
}

.hide {
  opacity: 0;
}

.page-link:focus {
  box-shadow: none;
}

.img-fullwidth {
  width: 100%;
}

.button {
  &__proceed-to-checkout, &__place-order {
    width: 100%;
    padding: .6em;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background-color: $dark;
    border-color: $dark;
    color: $white;
    font-size: 1.4em;

    i {
      font-size: 1.2em;
      padding-left: 20px;
    }

    &:hover {
      text-decoration: none;
      background-color: $dark;
      border-color: $dark;
      color: $white;
    }
  }
}

.ui.dropdown {
  width: 100%;

  &.search {
    > input.search {
      background-color: $input-background-color!important;
    }
  }
}

.error-message {
  text-align: center;
  font-size: .8em;
  color: $red;
  opacity: 0;
  visibility: hidden;
  height: 0;

  &.show {
    visibility: visible;
    opacity: 1;
    transition: all 300ms;
    height: initial;
  }
}

.meal-item__messages{
  .mp_message{
    padding: 1em 1.6em;
    
    
    &:last-child{
      margin-bottom: 2.6em;
    }
    
    &.success{
      background-color: #0f834d !important;
      color: #ffffff !important;
    }
  }
}

