#meal-detail {

  .meal-item {
    &__add-to-cart {
      text-align: center;
      
      .meal-item-quantity{
        width: 100%;
        
        .input-quantity{
          width: 80px;
        }
      }
      
      .button {
        width: 100%;
      }
    }
  }
  
  .meal-detail__more-info{
    margin-bottom: 40px;
  }
}