@import "templates/_variable";

#site-navigation {
    width: 73.9130434783%;
    margin-right: 4.347826087%;
    clear: both;
}

.float-mini-cart {
    position: relative;
    width: 21.7391304348%;
    
    height: 67px;
}

#masthead {
    .col-full {
        position: relative;
        display: flex;
        flex-flow: wrap;
    }
}

@media screen and (max-width: $sm-breakpoint) {
    #site-navigation{
        width: 100%;
        margin-right: 0;
    }
    
    .float-mini-cart{
        width: 100%;
        
        .meal-item__mini-cart{
            float: right;
        }
        
        .fa-shopping-basket{
            font-size: 1.5em;
        }
    }
}